<robot name="COVER">

  <link name="footprint" />

  <link name="1_A">
    <inertial>
      <origin xyz="-0.00851236 -0.000890128 0.00760393" rpy="0 0 0"/>
      <mass value="33073300.0"/>
      <inertia ixx="27909.2" ixy="-734.642" ixz="2667.27" iyy="41786.8" iyz="-818.311" izz="27561.8"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/1_a_asm-binary.stl"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/1_a_asm-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="footprint"/>
    <child link="1_A"/>
  </joint>

  <link name="PAF1003400">
    <inertial>
      <origin xyz="-0.0013145 8.67863770326e-06 0.00149996711302" rpy="0 0 0"/>
      <mass value="0.0532202"/>
      <inertia ixx="5.01885e-07" ixy="-2.49665e-09" ixz="0.0" iyy="6.217e-07" iyz="-5.68401e-11" izz="1.04769e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003400_prt-binary.stl"/>
      </geometry>
      <material name="PAF1003400_color">
        <color rgba="0.25 0.5 0.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003400_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="1_A--PAF1003400" type="fixed">
    <origin xyz="29 10 -28" rpy="1.57 1.57 0.436332"/>
    <parent link="1_A"/>
    <child link="PAF1003400"/>
    <dynamics damping="0.1"/>
  </joint>


  <link name="PAF1003500">
    <inertial>
      <origin xyz="0.0565801 -0.00585679742923 0.0144999582113" rpy="0 0 0"/>
      <mass value="0.0178762"/>
      <inertia ixx="1.68676e-07" ixy="-8.48721e-10" ixz="0.0" iyy="2.08482e-07" iyz="-1.75547e-10" izz="3.51666e-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003500_prt-binary.stl"/>
      </geometry>
      <material name="PAF1003500_color">
        <color rgba="1.0 0.75 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0579 -0.0058655590092 0.0129999547585" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003500_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="1_A--PAF1003500" type="fixed">
    <origin xyz="10 -3 -32" rpy="1.57 1.57 0.261799"/>
    <axis xyz="1.0 0.0 1.11022302463e-16"/>
    <parent link="1_A"/>
    <child link="PAF1003500"/>
    <dynamics damping="0.1"/>
  </joint>

  <link name="PAF1003600">
    <inertial>
      <origin xyz="-0.00116205216058 3.05791691174e-06 0.00150000896652" rpy="0 0 0"/>
      <mass value="0.0185208"/>
      <inertia ixx="1.7357e-07" ixy="-3.02838e-10" ixz="0.0" iyy="2.2409e-07" iyz="2.813e-10" izz="3.71201e-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003600_prt-binary.stl"/>
      </geometry>
      <material name="PAF1003600_color">
        <color rgba="1.0 1.0 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003600_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="1_A--PAF1003600" type="fixed">
    <origin xyz="-12 -5 -30" rpy="1.57 1.57 -0.174533"/>
    <parent link="1_A"/>
    <child link="PAF1003600"/>
    <dynamics damping="0.1"/>
  </joint>

  <link name="PAF1003700">
    <inertial>
      <origin xyz="-0.00155187581715 2.24507211835e-06 0.00110000076463" rpy="0 0 0"/>
      <mass value="0.012343"/>
      <inertia ixx="1.12951e-07" ixy="-1.54627e-10" ixz="0.0" iyy="1.32077e-07" iyz="1.73155e-11" izz="2.35416e-07"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003700_prt-binary.stl"/>
      </geometry>
      <material name="black">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003700_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="1_A__PAF1003700" type="fixed">
    <origin xyz="-36 -6 -20" rpy="1.57 1.57 -0.261799"/>
    <axis xyz="8.10671871038e-09 -0.999999773716 -2.05797691055e-08"/>
    <parent link="1_A"/>
    <child link="PAF1003700"/>
    <dynamics damping="0.1"/>
  </joint>

<!--INDEX Finger-->

  <link name="PAF1003801">
    <inertial>
      <origin xyz="0.0038461 0.00438742504662 1.07098420216e-05" rpy="0 0 0"/>
      <mass value="0.103446"/>
      <inertia ixx="3.58836e-06" ixy="-5.21846e-07" ixz="4.01023e-09" iyy="2.78015e-06" iyz="2.538e-09" izz="4.97765e-06"/>
    </inertial>
    <visual>
      <origin xyz="-0.0035 -0.00698064435777 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003801_prt-binary.stl"/>
      </geometry>
      <material name="PAF1003801_color">
        <color rgba="1.0 0.75 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0035 -0.00698064435777 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1003801_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="PAF1003400--PAF1003801" type="fixed">
    <origin xyz="0 0 -9" rpy="1.58824971908 0 0"/>
    <axis xyz="0.0 -1.00000044025 -1.13856436057e-07"/>
    <parent link="PAF1003400"/>
    <child link="PAF1003801"/>
    <dynamics damping="0.1"/>
  </joint>

  <link name="PAF1004201">
    <inertial>
      <origin xyz="0 -0.00245137136553 0.015615295202" rpy="0 0 0"/>
      <mass value="0.0118295"/>
      <inertia ixx="9.70967e-07" ixy="0.0" ixz="0.0" iyy="1.04991e-06" iyz="2.74792e-08" izz="4.78951e-07"/>
    </inertial>
    <visual>
      <origin xyz="0 -2.5 -2.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004201_prt-binary.stl"/>
      </geometry>
      <material name="PAF1004201_color">
        <color rgba="0.75 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004201_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="PAF1003801--PAF1004201" type="revolute">
    <origin xyz="10.5 10.5 0" rpy="1.61820653951 1.57079602112 1.56584662577"/>
    <axis xyz="1.00000044025 -1.91634382918e-07 8.52805280907e-09"/>
    <parent link="PAF1003801"/>
    <child link="PAF1004201"/>
    <limit effort="300" lower="-0.61" upper="0.705631162427" velocity="1"/>
    <dynamics damping="0.1"/>
  </joint>

  <link name="PAF1004500">
    <inertial>
      <origin xyz="0 0.000378038466131 -0.0131533470868" rpy="0 0 0"/>
      <mass value="0.190202"/>
      <inertia ixx="1.5478e-05" ixy="0.0" ixz="0.0" iyy="1.78731e-05" iyz="8.8021e-07" izz="6.19301e-06"/>
    </inertial>
    <visual>
      <origin xyz="0 1 3" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004500_prt-binary.stl"/>
      </geometry>
      <material name="PAF1004500_color">
        <color rgba="1.0 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.000999972692264 0.00385996745234" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004500_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="PAF1004201--PAF1004500" type="revolute">
    <origin xyz="0 1 33.5" rpy="-2.68780710036 2.39771271023e-07 0"/>
    <axis xyz="-1.00000044025 -6.51257134887e-08 3.08022348461e-07"/>
    <parent link="PAF1004201"/>
    <child link="PAF1004500"/>
    <limit effort="300" lower="-1.15" upper="0.02" velocity="1"/>
    <dynamics damping="0.1"/>
  </joint>

  <link name="PAF1004800">
    <inertial>
      <origin xyz="-0.0099602563359 0.201702352802 0.0578870067878" rpy="0 0 0"/>
      <mass value="0.00137117"/>
      <inertia ixx="4.86452e-08" ixy="-6.1421e-10" ixz="1.24462e-10" iyy="5.9837e-08" iyz="9.17469e-09" izz="3.23765e-08"/>
    </inertial>
    <visual>
      <origin xyz="10 -205 -55.5" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004800_prt-binary.stl"/>
      </geometry>
      <material name="PAF1004800_color">
        <color rgba="0.75 1.0 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://advr_mob_plt_description/urdf/meshes/paf1004800_prt-binary.stl"/>
      </geometry>
    </collision>
  </link>

  <joint name="PAF1004500--PAF1004800" type="fixed">
    <origin xyz="0 -1.5 -35"  rpy="0 3.14159 3.14159"/>
    <parent link="PAF1004500"/>
    <child link="PAF1004800"/>
    <dynamics damping="0.1"/>
  </joint>

  </robot>